body 
{
    background-image: url("https://vignette.wikia.nocookie.net/heroesofthestorm/images/4/4a/Overwatch-logo.jpg/revision/latest?cb=20150531092156");
}
.page-header
{
    color: white;
}
#p1
{
    color: white;
    float: left;
    opacity: 0.5;
}
.form-control
{
    color: white;
}
.container
{
    width: 30%;
    height:20%;
    background-color: white;
    border: double red;
}
#container
{
    margin-left: 20%;
}
.ana
{
    width: 220px;
    
}
.reaper
{
    float: right;
    width: 250px;
    height: 150px;
}
.overwatch
{
    padding: 5px;
}
.junkrat
{
    float: right;
    padding: 10px;
}
.music
{
    width: 250px;
}
.wrapper::after
{
    height: 100px;

}
.footer
{
    height: 50px;
    border: double red;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    position:fixed;
    text-align: center;
}
#container
{
    border: radiu 10px;
    background-color: grey;
     opacity: 0.8;
     width: 1020px;
}
@media only screen and (max-width: 600px){
    body 
    {
        width: 130px;    
        height: 120px;    
    }    
}

